.slider {
    width: 100%;
    position: relative;

    &__slides {
        width: 100%;
        overflow-x: auto;
        min-height: 676px;
        padding-bottom: 20px;
        display: flex;
        gap: 40px;

        &::-webkit-scrollbar {
            height: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #d6d6d6;
            border-radius: 5px;
            cursor: pointer;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: rgba(87, 87, 87, 0.4);
        }

        @media screen and(max-width:920px) {
            min-height: 476px;

            &::-webkit-scrollbar {
                height: 5px;

            }

            &::-webkit-scrollbar-thumb {
                background-color: initial;
                border-radius: initial;
                cursor: default;
            }

            &::-webkit-scrollbar-track {
                -webkit-box-shadow: initial;
                background-color: initial;
            }
        }
    }

    &__slide {
        min-height: 676px;
        min-width: 407px;
        position: relative;

        @media screen and(max-width:920px) {
            min-height: 476px;
            min-width: 307px;
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &--left {
            left: 20px;
        }

        &--right {
            right: 20px;
        }
    }
}

// slider-types ****************

.slider-types {
    margin-top: 130px;

    @media screen and(max-width:920px) {
        margin-top: 50px;
    }

    &__container {
        border: 1px solid var(--grayLight);
        display: flex;
        justify-content: space-between;
        gap: 44px;
        padding: 30px 0;
        overflow-x: auto;

        @media screen and(max-width:920px) {
            padding: 30px 20px;
        }

        @media screen and(max-width:640px) {
            padding: 30px 10px;
        }
    }

    &__block {
        text-align: center;
    }

    &__img {
        width: 362px;
        height: 362px;

        @media screen and(max-width:920px) {
            width: 270px;
            height: 270px;
        }
    }

    &__title {
        @include title20px;
        margin-top: 20px;
    }

    &__price {
        @include text16pxLower;
        margin: 15px 0;
    }

    &__btn {
        width: 80%;
    }
}

// slider-types ****************/////////