// types ****************

.types {
    margin-top: 130px;

    @media screen and(max-width:920px) {
        margin-top: 50px;
    }

    &__container {
        border: 1px solid var(--grayLight);
        display: flex;
        justify-content: space-between;
        gap: 44px;
        padding: 30px 0;
        overflow-x: auto;


        @media screen and(max-width:920px) {
            padding: 30px 20px;
        }

        @media screen and(max-width:640px) {
            padding: 30px 10px;
        }

        &--certificates {
            border: none;
            column-gap: 0px;
            row-gap: 20px;
            overflow-x: hidden;
            flex-wrap: wrap;

            @media screen and(max-width:640px) {
                justify-content: center;
                column-gap: 10px;
            }
        }
    }

    &__block {
        text-align: center;
    }

    &__img {
        width: 362px;
        height: 362px;

        @media screen and(max-width:920px) {
            width: 270px;
            height: 270px;
        }

        &--certificates {
            width: 275px;
            height: 133px;
        }
    }

    &__title {
        @include title20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__price {
        @include text16pxLower;
        margin: 0 0 15px 0;
    }

    &__btn {
        width: 80%;

        &--certificates {
            width: 90%;
        }
    }
}

// types ****************/////////