:root {
    //colors
    --beige: #fffae6;
    --beige-op: rgba(255, 250, 230, 0.7);
    --red: #d0202a;
    --white: #ffffff;
    --black: #101010;
    --grayDark: #656363;
    --grayLight: #bebebe;
    //

    --containerWidth: 1220px;
    --containerWidthLaptop: 640px;
    --containerWidthMobile: 320px;
    --containerPaddingLaptop: 20px;
    --containerPaddingMobile: 10px;
}