.choose-us {
    &__list {
        display: grid;
        gap: 65px 10px;
        grid-template-columns: repeat(3, 1fr);

        @media screen and(max-width:920px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and(max-width:500px) {
            grid-template-columns: repeat(1, 1fr);
        }

        &--certificates {

            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    &__item {
        max-width: 260px;

        @media screen and(max-width:500px) {
            max-width: 100%;
        }

        &--certificates {
            max-width: 470px;
        }

    }

    &__title {
        @include text16pxBold;
        margin-bottom: 10px;
    }
}