.portfolio {
    margin-bottom: 100px;

    &__slider {
        max-width: 1600px;
        margin: 0 auto;
    }

    &__btns {
        margin-top: 100px;

        @media screen and(max-width:920px) {
            margin-top: 70px;
        }

        @media screen and(max-width:640px) {
            margin-top: 50px;
        }
    }
}