.manicure-hero {
    margin-top: 200px;

    @media screen and(max-width:640px) {
        margin-bottom: 200px;
    }

    @media screen and(max-width:920px) {
        margin-top: 100px;
    }

    &__fx {
        position: relative;
        align-items: start;

        @media screen and(max-width:920px) {
            flex-direction: row;
            align-items: start;
            gap: 0px;
        }

        @media screen and(max-width:640px) {
            flex-direction: column;
            align-items: start;
        }
    }

    &__title {
        margin: 0;
    }

    &__description {
        margin-bottom: 100px;
        margin-top: 30px;

        @media screen and(max-width:920px) {
            margin-top: 20px;
            margin-bottom: 25px;
        }

        @media screen and(max-width:640px) {
            margin-top: 10px;
        }
    }

    &__btns-grid {
        @media screen and(max-width:640px) {
            transform: translateY(330px);
        }
    }

    &__right {
        display: grid;
        justify-items: end;
        align-items: start;

        @media screen and(max-width:640px) {
            transform: translateY(-130px);
        }
    }

    &__img {
        grid-column: 1/1;
        grid-row: 1/1;

        &--1 {
            justify-self: start;
            transform: translate(0, 40%);

            @media screen and(max-width:920px) {
                width: 180px;
                height: 180px;
            }
        }

        &--2 {
            @media screen and(max-width:920px) {
                width: 180px;
                height: 180px;
            }
        }

        &--3 {

            justify-self: center;
            align-self: end;
            transform: translate(0, 150%);

            @media screen and(max-width:920px) {
                width: 100px;
                height: 100px;
            }
        }
    }

    &__star {
        width: 100%;
        height: 100%;
        stroke: var(--red);

    }
}